bin/
lib/
builds/
*.mod
*.o
*.obj
*.manifest
.sconsign.*
documentation/
visual_studio_2010/*.suo
visual_studio_2010/*.u2d
visual_studio_2010/Debug/
visual_studio_2010/Release/
visual_studio_2010/x64
FoBiS.py
robodoc