bin/
lib/
builds/
build/
install/
doc/
.vscode/

*.gcov
*.gcov.md*
*.mod
*.o
*.obj
*.manifest
.sconsign.*
files/*.json
.cflags.*
*.suo
*.u2d
*.user
*.fdz

visual_studio/Debug/
visual_studio/Release/
visual_studio/x64/
visual_studio/.vs/
visual_studio/jsonfortranlib/
visual_studio/jsonfortrantest/Debug/
visual_studio/jsonfortrantest/Release/
visual_studio/jsonfortrantest/x64
visual_studio/config
My Advisor Results*
My Amplifier*
My Inspector*
x64/
Debug/
Release/

# mac
.DS_Store