bin/
lib/
builds/
doc/
*.gcov
*.gcov.md*
*.mod
*.o
*.obj
*.manifest
.sconsign.*
files/*.json
.cflags.*
visual_studio_2010/*.suo
visual_studio_2010/*.u2d
visual_studio_2010/Debug/
visual_studio_2010/Release/
visual_studio_2010/x64/
