#
#  DESCRIPTION
#    Example robodoc.rc file for Fortran
#
#  NOTES
#    Fortran keywords (77-2008) from http://fortranwiki.org/fortran/show/Keywords
#    Also added a few missing ones.
#
#  AUTHOR
#    Jacob Williams, 12/6/2014
#
#  HISTORY
#    Updated 1/6/2014
#

items:
    AUTHOR
    BUGS
    COPYRIGHT
    DESCRIPTION
    EXAMPLE
    HISTORY
    INPUT
    INPUTS
    LICENSE
    MODIFIED
    NAME
    NOTES
    OUTPUT
    OUTPUTS
    REFERENCES
    RESULT
    SEE ALSO
    USAGE
    WARNINGS
source line comments:
    !
headertypes:
    h  "Modules"          robo_modules     4
    d  "Parameters"       robo_definitions 3
    c  "Classes"          robo_classes     2
    I  "Interfaces"       robo_interfaces  1
keywords:
    abstract
    allocatable
    allocate
    allocated
    assign
    associate
    associated
    asynchronous
    backspace
    bind
    block
    block data
    call
    case
    character
    class
    close
    codimension
    common
    contains
    contiguous
    continue
    critical
    cycle
    data
    deallocate
    deferred
    dimension
    do
    do concurrent
    elemental
    else
    else if
    elsewhere
    end
    endfile
    endif
    entry
    enum
    enumerator
    equivalence
    error stop
    exit
    extends
    external
    final
    flush
    forall
    format
    function
    generic
    goto
    if
    implicit
    import
    include
    inquire
    integer
    intent
    interface
    intrinsic
    lock
    logical
    module
    namelist
    non_overridable
    none
    nopass
    nullify
    only
    open
    operator
    optional
    parameter
    pass
    pause
    pointer
    present
    print
    private
    procedure
    program
    protected
    public
    pure
    read
    real
    recursive
    result
    return
    rewind
    rewrite
    save
    select
    sequence
    stop
    submodule
    subroutine
    sync all
    sync images
    sync memory
    target
    then
    trim
    type
    unlock
    use
    value
    volatile
    wait
    where
    while
    write
