# 
#  DESCRIPTION
#    Example robodoc.rc file for Fortran
#
#  NOTES
#    Fortran keywords (77-2008) from http://fortranwiki.org/fortran/show/Keywords
#    Also added a few missing ones at the bottom.
#
#  AUTHOR
#    Jacob Williams, 12/28/2014
#

source line comments:
    !
keywords:
    assign
    backspace
    block data
    call
    close
    common
    continue
    data
    dimension
    do
    else
    else if
    end
    endfile
    endif
    entry
    equivalence
    external
    format
    function
    goto
    if
    implicit
    inquire
    intrinsic
    open
    parameter
    pause
    print
    program
    read
    return
    rewind
    rewrite
    save
    stop
    subroutine
    then
    write
    allocatable
    allocate
    case
    contains
    cycle
    deallocate
    elsewhere
    exit
    include
    interface
    intent
    module
    namelist
    nullify
    only
    operator
    optional
    pointer
    private
    procedure
    public
    recursive
    result
    select
    sequence
    target
    use
    while
    where
    elemental
    forall
    pure
    abstract
    associate
    asynchronous
    bind
    class
    deferred
    enum
    enumerator
    extends
    final
    flush
    generic
    import
    non_overridable
    nopass
    pass
    protected
    value
    volatile
    wait
    block
    codimension
    do concurrent
    contiguous
    critical
    error stop
    submodule
    sync all
    sync images
    sync memory
    lock
    unlock
    associated
    allocated
    present
    character
    type
    integer
    real
    logical
    none